# Obteniendo data de thinkspeak

* Obtenemos data con requests

In [46]:
import wget

results=50
url = 'https://api.thingspeak.com/channels/489412/feeds.csv?results='+str(results)
fl = wget.download(url)
fl

'feeds (4).csv'

In [48]:
import pandas as pd

rpd = pd.read_csv(fl)
df = pd.DataFrame(rpd)
df.head()

                created_at  entry_id  field1  field2
0  2018-05-05 16:11:09 UTC       178    27.0    48.0
1  2018-05-05 16:12:32 UTC       179    28.0    48.0
2  2018-05-05 16:12:49 UTC       180    27.0    48.0
3  2018-05-05 16:13:06 UTC       181    27.0    48.0
4  2018-05-05 16:13:23 UTC       182    27.0    48.0

In [51]:
#ubico por columnas
#df['field1']
df.loc[df['field1']>27,['created_at','field1']]

                 created_at  field1
1   2018-05-05 16:12:32 UTC    28.0
5   2018-05-05 16:13:40 UTC    28.0
29  2018-05-05 16:20:29 UTC    28.0
35  2018-05-05 16:22:15 UTC    28.0

* Mostramos con una identacion adecuada