# Gestion de Datos de thinkspeak usando Pandas

Usando "ls" vemos el contenido del directorio

In [1]:
ls

data_thinkspeak.csv    gestion_thinkspeak.ipynb  vgsales.csv
ejemplos_pandas.ipynb  sbs1.xls

#### Leemos el csv obtenido de thinkspeak, lo volvemos tipo dataframe y los mostramos

In [38]:
import pandas as pd
datos=pd.read_csv('data_thinkspeak.csv')
df = pd.DataFrame(datos)
df.head()
#len(df)
#df

                created_at  entry_id  field1  field2
0  2018-04-26 18:30:34 UTC      2801      59      25
1  2018-04-26 18:31:37 UTC      2802      59      25
2  2018-04-26 18:32:40 UTC      2803      59      25
3  2018-04-26 18:33:42 UTC      2804      59      26
4  2018-04-26 18:34:54 UTC      2805      59      26

In [28]:
df['field1']  #nos obtiene lacomunda llamada 'field1'
df.loc[0,'field1']   #obtenemos el valor de la fila '0' y la  comunda 'field1'
l=df['field1']>59  #se aplica la condicional para cada valor de la columna
l
df.loc[df['field1']>79,'field1'] #hacemos un filtro a la columna df.loc[boleano_o_int, 'name_columna']
#l,type(l)

55    82
56    80
57    80
58    85
59    82
91    80
92    87
93    88
94    80
95    80
97    89
98    89
99    83
Name: field1, dtype: int64

In [42]:
alto = df.loc[0,'field1']
df.loc[0,'dfield1']=0
alto,type(alto)

(59, numpy.int64)

In [43]:
#accedemos a la columna
alto = df.loc[0,'field1']
df.loc[0,'dfield1']=0

for i in range(1,len(df)):
    if df.loc[i,'field1']>df.loc[i-1,'field1'] and df.loc[i,'field1']>alto:
        df.loc[i,'dfield1']=df.loc[i,'field1']-alto
        alto=df.loc[i,'field1']
    else:
        df.loc[i,'dfield1']=0

df

                 created_at  entry_id  field1  field2  dfield1
0   2018-04-26 18:30:34 UTC      2801      59      25      0.0
1   2018-04-26 18:31:37 UTC      2802      59      25      0.0
2   2018-04-26 18:32:40 UTC      2803      59      25      0.0
3   2018-04-26 18:33:42 UTC      2804      59      26      0.0
4   2018-04-26 18:34:54 UTC      2805      59      26      0.0
5   2018-04-26 18:35:57 UTC      2806      59      26      0.0
6   2018-04-26 18:36:59 UTC      2807      59      26      0.0
7   2018-04-26 18:38:01 UTC      2808      59      26      0.0
8   2018-04-26 18:39:03 UTC      2809      59      26      0.0
9   2018-04-26 18:40:06 UTC      2810      59      26      0.0
10  2018-04-26 18:41:18 UTC      2811      58      26      0.0
11  2018-04-26 18:42:21 UTC      2812      58      26      0.0
12  2018-04-26 18:43:24 UTC      2813      58      26      0.0
13  2018-04-26 18:44:22 UTC      2814      58      26      0.0
14  2018-04-26 18:52:04 UTC      2815      60      28      1.0
15  2018-04-26 19:01:19 UTC      2816      58      29      0.0
16  2018-04-26 19:15:26 UTC      2817      58      28      0.0
17  2018-04-26 19:29:33 UTC      2818      59      28      0.0
18  2018-04-26 19:43:44 UTC      2819      59      27      0.0
19  2018-04-26 19:57:55 UTC      2820      60      28      0.0
20  2018-04-26 20:12:10 UTC      2821      58      28      0.0
21  2018-04-26 20:26:22 UTC      2822      58      28      0.0
22  2018-04-26 20:40:33 UTC      2823      58      28      0.0
23  2018-04-26 20:54:43 UTC      2824      59      27      0.0
24  2018-04-26 21:08:53 UTC      2825      59      27      0.0
25  2018-04-26 21:23:08 UTC      2826      59      27      0.0
26  2018-04-26 21:37:10 UTC      2827      61      26      1.0
27  2018-04-26 21:51:20 UTC      2828      61      25      0.0
28  2018-04-26 22:05:31 UTC      2829      63      24      2.0
29  2018-04-26 22:19:46 UTC      2830      64      24      1.0
..                      ...       ...     ...     ...      ...
70  2018-05-02 18:45:23 UTC      2871      46      30      0.0
71  2018-05-02 18:59:31 UTC      2872      46      29      0.0
72  2018-05-02 19:13:43 UTC      2873      46      29      0.0
73  2018-05-02 19:27:53 UTC      2874      47      28      0.0
74  2018-05-02 19:42:06 UTC      2875      52      29      0.0
75  2018-05-02 19:56:17 UTC      2876      54      28      0.0
76  2018-05-02 20:10:25 UTC      2877      57      27      0.0
77  2018-05-02 20:24:36 UTC      2878      59      27      0.0
78  2018-05-02 20:38:47 UTC      2879      59      27      0.0
79  2018-05-02 20:53:02 UTC      2880      58      27      0.0
80  2018-05-02 21:07:05 UTC      2881      60      25      0.0
81  2018-05-02 21:21:15 UTC      2882      62      24      0.0
82  2018-05-02 21:35:26 UTC      2883      63      24      0.0
83  2018-05-02 21:49:36 UTC      2884      64      24      0.0
84  2018-05-02 22:03:47 UTC      2885      65      23      0.0
85  2018-05-02 22:17:56 UTC      2886      67      22      0.0
86  2018-05-02 22:32:07 UTC      2887      75      21      0.0
87  2018-05-02 22:46:17 UTC      2888      78      21      0.0
88  2018-05-02 23:00:28 UTC      2889      79      20      0.0
89  2018-05-02 23:14:38 UTC      2890      79      19      0.0
90  2018-05-02 23:28:47 UTC      2891      79      21      0.0
91  2018-05-02 23:43:00 UTC      2892      80      20      0.0
92  2018-05-02 23:57:08 UTC      2893      87      20      2.0
93  2018-05-03 00:11:18 UTC      2894      88      20      1.0
94  2018-05-03 00:25:28 UTC      2895      80      20      0.0
95  2018-05-03 00:39:37 UTC      2896      80      20      0.0
96  2018-05-03 00:53:48 UTC      2897      79      22      0.0
97  2018-05-03 01:08:00 UTC      2898      89      22      1.0
98  2018-05-03 01:22:12 UTC      2899      89      22      0.0
99  2018-05-03 01:36:16 UTC      2900      83      22      0.0

[100 rows x 5 columns]

In [45]:
#exportamos a un csv
df.reset_index().to_csv('final.csv',header=True, index=False)